Flask
astor
cached-property
cachetools
certifi
chardet
click
colorama
dataclasses
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
joblib
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
pickle-mixin
Pillow
pyasn1
pyasn1-modules
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorflow==2.12 # Let it handle all versions!
tensorboard
tensorflow-estimator
termcolor
typing-extensions
urllib3
Werkzeug
wrapt
zipp
